.main_body{
    width: 390px;
    margin: 0 auto;
}


.main_content{

}

.swipeimg{
    width: 390px;
    height: 194px;
}

.homeimg{
    display: flex;
    width: 359px;
    height: 459px;
    margin: 0 auto;
}



.menu_bar{
    width: 390px;
    height: 56px;
    position: fixed;
    bottom: 0%;
    z-index:3;
}