.farmer{
    width: 159px;
    height: 160px;
    margin-left: 30px;
}
.f_btn{
    position: absolute;
    width: 173px;
    height: 75px;
    position: fixed;
    left: 196px;
    top: 137px;
}

.farm_div{
    width: 355px;
    height: 530px;
    margin: 0 auto;
    background: #D9D9D9;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.con_box{
    width: 160px;
    height: 230px;
    margin: auto;
    border-radius: 10px;
    background: #fff;
}
