.post_container{
    width:390px;
    height:120px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 10px auto;
}
#text_box{
    margin:15px 0px 0px 20px;
}
#text_box h2{
    font-size: 22px;
    margin: 6px 0px;
}
#reply_box{
    border:none;
    border-radius: 10px;
    background-color: #e9e9e9;
    width:45px;
    height:65px;
    margin:15px;
    text-align: center;
}
#cummunity_author #cummunity_time #community_count #cummunity_like{
    font-size: 15px;
    font-weight: normal;
}
#reply_box h4{
    font-weight: bold;
    font-size: 20px;
    margin:0px;
    margin-top:10px;
}
#cummunity_reply{
    font-size :10px;
    font-weight:bold;
}
