.Sbar{
    width: 390px;
    height: 63px;
    background-color: #ffff;
}

.top_icon_1{
    width: 25px;
    height: 25px;
    position: absolute;
    left: 15px;
    top: 45px;
}
.top_icon_2{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 15px;
    top: 45px;
}

.searchbox{
    width: 360px;
    height: 40px;
    position: relative;
    margin: 16px auto;
    bottom: 0%;
    border: 1px solid #000000;
    border-radius: 10px;
}

.search_icon{
    width: 25px;
    height: 25px;
    margin-left: 7px;
    margin-bottom: 9px;
    vertical-align: middle;
}

.searchbox input{
    width: 270px;
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
    border: none;
    font-size: 18px;
    font-weight: 500;

}

.search_btn{
    width: 40px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: absolute;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #408FFF;
    font-weight: 800;
}